header{
    text-align: center;
}

/* Centralizar */

header img{
    width: 500px;
}

/* mudei o tamanho da logo */

main{
    text-align: center;
}

/* centralizar */

footer{
    text-align: center;
}

/* centralizar */

body{
    background-color: darkgrey;
    font-family: Courier, monospace;
}

/* mudei a cor de fundo e a fonte do site */


a{
    color: cyan;
}

/* mudei a cor do link */

img{
    width: 200px;
}

/* mudei o tamanho de todas as imagens */

p{
    color: white;
    font-size: small;
}

/* mudei a cor do paragrafo e mudei o tamanho da fonte */