header{
    text-align: center;
}

/* Centralizar */

header img{
    width: 500px;
}

/* mudei o tamanho da logo */

main{
    text-align: center;
}

/* centralizar */

footer{
    text-align: center;
}

/* centralizar */

body{
    background-image: url(https://img.freepik.com/fotos-gratis/papel-de-parede-abstrato-ultra-detalhado-da-nebulosa-4_1562-749.jpg); background-repeat: repeat-y; background-size: 100%;
    font-family: Courier, monospace;
}

/* mudei a imagem de fundo e a fonte do site */

h1,h3,h4,li{
    color: white;
}

/* mudei a cor das letras para branco */

a{
    color: cyan;
}

/* mudei a cor do link */

img{
    width: 200px;
}

/* mudei o tamanho de todas as imagens */

p{
    color: white;
    font-size: small;
}

/* mudei a cor do paragrafo e mudei o tamanho da fonte */