body{
    text-align: center;
    background-color: darkgrey;
    font-family: Courier, monospace;
}

/* mudei a cor de fundo, mudei a fonte do site e e centralizei tudo*/

header img{
    width: 500px;
}

/* Mudei o tamanho da logo */

a{
    color: cyan;
}

/* mudei a cor do link */

img{
    width: 200px;
}

/* mudei o tamanho de todas as imagens */

p{
    color: white;
    font-size: small;
}

/* mudei a cor do paragrafo e mudei o tamanho da fonte */